*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  padding: 0 200px ;
}
.spacer{
  padding: 80px 0px;
}
a{
  text-decoration: none !important;
}
ul{
  list-style: none;
}
.card{
  width: 100%;
}
.bgcolor{
  background-color: rgb(39,43,51);
}
.heading{
  font-size: 100px;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 70px 0px 50px;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center !important;
}
.header_logo{
  height: 70px;
  width: 70px;
}
.header{
  display: flex;
  justify-content: space-between;
}
ul{
  list-style: none !important;
}
.Main_menu{
  display: flex;
  align-self: center !important;
}
.Main_menu li{
  padding: 0px 15px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: .3s;
}
.Main_menu li:hover {
  color: #FF9800;
}
.theme_btn{
  color: black;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid #FF9800;
  font-size: 16px;
  transition: .3s;
}
.theme_btn:hover{
  background-color: #FF9800;
  color: aliceblue;
}
.header_logo img{
  width: 50px;
}
.card_info{
  padding: 15px 0px;
}
.circle{
  font-size: 10px;
  margin-right: 10px;
}
.middle_info{
  margin: 21px 0;
}
.top_info a{
  color: white !important;
  font-size: 25px;
  font-weight: bold !important;;
}
.top_info a:hover{
  color: rgb(255, 152, 0) !important;
  transition: .4s;
  cursor: pointer;
}
.top_info h4{
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.middle_info h5{
  font-size: 16px;
  color: rgb(142,150,157);
}
.bottom_info h5{
  font-size: 16px;
  color: rgb(142,150,157);
}
.middle_info a{
  font-size: 20px;
  color: white !important;
  font-weight: 400;
}
.bottom_info a{
  font-size: 20px;
  color: white !important;
  font-weight: 400;
}
.bottom_info a:hover{
  color: rgb(255, 152, 0) !important;
  transition: .4s;
  cursor: pointer;
}
.middle_info a:hover{
  color: rgb(255, 152, 0) !important;
  transition: .4s;
  cursor: pointer;
}
.cards{
  border-radius: 10px;
  border: none;
  background-color: rgb(60,62,68);
}
.card_item{
  display: flex;
  border-radius: 10px;
  border: none;
  background-color: rgb(60,62,68);
}
.card_img img{
  border-radius: 10px 0px 0px 10px !important;
  width: 250px;
  margin: 0;
}
.card_img{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.card_parent{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}
.top_info h4{
  color: white;
}
.card_info{
  margin-left: 30px;
}
.bggray{
  background-color: rgb(32,35,41);
}
.footer_menu{
  display: flex;
  justify-content: center;
}
.footer_menu li{
  margin: 0 15px;
}
.footer_menu li a{
  color: rgb(142,150,157);
  font-size: 14px;
  font-weight: bold;
}
.footer_menu li:hover a{
  color: rgb(255, 152, 0) !important;
  transition: .4s;
}
.footer_status{
  display: flex;
  justify-content: center;
}
.footer_status h4{
  color: rgb(142,150,157);
  font-size: 14px;
  font-weight: bold;
}
.footer_status h4:hover{
  color: rgb(255, 152, 0) !important;
  transition: .3s;
  cursor: pointer;
}
.status_icon{
  height: 8px;
  width: 8px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 50%;
  background: rgb(85, 204, 68);
}

.cmp_info{
  margin-top: 40px;
}
.cmp_info a{
  margin: 0 25px;
}
.footer_icons i{
  color: rgb(142,150,157);
  font-size: 18px;
}
.footer_icons{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.footer_icons li{
  margin: 0 15px;
}
.footer_icons li:hover i{
  color: rgb(255, 152, 0);
  transition: .4s;
  cursor: pointer;
}
.footer_last{
  margin-top: 30px;
}
.footer_last i{
  color: rgb(142,150,157);
  font-size: 14px;
  font-weight: bold;
}
.footer_last span{
  color: rgb(142,150,157);
  font-size: 14px;
}
.footer_last a{
  color: white;
  border-bottom: 1px solid rgb(255, 152, 0);  
}
.footer_last a:hover{
  color: rgb(255, 152, 0);
  transition: .4s;
}